/*Reset*/
*{
	margin:0;
	padding:0;
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
input,select,option, img, button{
	outline:0;
	border:0;
}
a{
    text-decoration: none;
}

/*General*/
body{
	background: #f7f7f7;
}
#global-wrapper{
	width: 150px;
	margin: 20px auto;
}
.number-wrap{
	margin-bottom: 10px;
}
.number-wrap > button[type="button"]{
	padding: 4px 7px;
	width: 30px;
	position: relative;
	font-weight: bold;
	color: #FFF;
	background: #52626F;
	box-shadow: 0 2px 0 #4A5863;
	border-top: 1px solid #52626F;
	cursor: pointer;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.number-wrap > button[type="button"]:hover{
	background: #637481;
	box-shadow: 0 2px 0 #55636F;
	border-top: 1px solid #637481;
}
.number-wrap > button[type="button"]:active{
	top:1px;
	box-shadow: 0 1px 0 #55636F;
}
.number-field{
	padding: 4px 4px;
	width: 50px;
	height: 19px;
	border: 1px solid #637481;
	background: #FFF;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.number-field:focus{
	box-shadow: 0px 0 2px #71B2E7;
	border: 1px solid #71B2E7;
}
.number-wrap > button[type="button"],
.number-field{
	font-family: 'Open Sans', sans-serif
}

